.search_container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 4rem;
}

.search_bar {
  font-size: 2vh;
  width: 30vw;
  margin-right: 10px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-btn {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  transition-duration: 0.2s;
}

.search-btn:hover {
  background-color: #555555;
  color: white;
}
